/* http://i.imgur.com/b9r5sEL.jpg */

[data-drum="bassDrum"] {
    width: 200px;
}

[data-drum="snareDrum"] {
    width: 130px;
}

[data-drum="hihat"] {
    width: 125px;
}

[data-drum] {
    padding: 20px;
}

.drum {
    transition: all .07s ease;
}

.playing {
    transform: scale(1.1);
}

h1 {
    color: crimson;
    font-size: 70px;
}